body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 20px;
}
.product {
    background: white;
    padding: white;
    margin-bottom: 15px;
    border-radius: 8px;
    display: flex;
    gap: 15px;
}
img {
    width: 120px;
}
a, button {
    padding: 6px 10px;
    text-decoration: none;
    colr: white;
    border: none;
    cursor: pointer;

}
.details {
    background: blue;
}
.delete {
    background: red;
}
.add {
    background: green;
    margin-bottom: 20px;
    display: inline-block;
}